RUN_ENVIRONMENT="LOCAL"
AZ_KEYVAULT_NAME=""
AZ_BATCH_ACCOUNT_URL=""
AZ_BATCH_ACCOUNT_NAME=""
AZ_BATCH_KEY=""
AZ_BATCH_EXECUTION_POOL_ID=""
AZ_BATCH_ORCHESTRATOR_POOL_ID=""
API_BASE_URL=""
RAW_ZONE_CONTAINER=""
EXTRACTED_ZONE_CONTAINER=""
TASK_RETRY_COUNT=""
MEASUREMENT_PROCESSING_THRESHOLD=""
APPLICATIONINSIGHTS_ROLENAME=""
ENABLE_LOGS_ON_TRACES=
AZURE_LOG_LEVEL=
LANDING_ZONE_SA_URL=""
RAW_ZONE_SA_URL=""
ARCHIVE_ZONE_SA_URL=""
EXTRACTED_ZONE_SA_URL=""
LANDING_SAS_KEY=""
RAW_SAS_KEY=""
ARCHIVE_SAS_KEY=""
EXTRACTED_ZONE_KEY=""
RAW_ZONE_KEY=""
VALIDATION_PROCESSOR_IMAGE=""
CAMERA_PROCESSOR_IMAGE=""
POINTCLOUD_PROCESSOR_IMAGE=""
STRUCTURED_PROCESSOR_IMAGE=""
STRING_PROCESSOR_IMAGE=""
METADATA_PROCESSOR_IMAGE=""
UTILITY_PROCESSOR_IMAGE=""
API_URL_GET_DATASTREAM_BY_ID=
BASE_URI_PATH=
RELATIVE_URI_PATH=
PARQUET_FILE_EXTENSION=
